{% extends "auth/template/auth_layout.html" %} {% block wrapper_content %}

<section>
  <div class="page-header min-vh-75">
    <div class="container">
      <div class="row">
        <div
        class="col-xl-5 col-lg-5 col-md-6 d-flex flex-column mx-auto  mb-7 mt-9"
      >
        <h2 class="text-white title-text  text-center my-6">A Microframework Web-Based Application for <br />
          Magallanes Central Elementary School Inventory Management System</h2>
        
      </div>
        <div
          class="col-xl-4 col-lg-5 col-md-6 bg-white mb-7 mt-9"
        >
          <div class="card card-plain">
            <div class="card-header mb-0 pb-0 text-left bg-transparent">
              <h4 class="font-weight-bolder text-primary">MCES LOGIN</h4>
              <small class=" text-primary"> 
          </small>
            </div>
            <div class="card-body mb-3">
              <form
                id="loginForm"
                action="{{ url_for('main.login') }}"
                method="POST"
              >
                <!-- Username Field -->
                <div class="mb-4">
                  <label
                    for="username"
                    class="block text-sm font-medium text-gray-700"
                    >Username</label
                  >
                  <input
                    type="text"
                    id="username"
                    name="username"
                    class="form-control"
                  />
                </div>

                <!-- Password Field -->
                <div class="mb-4">
                  <label
                    for="password"
                    class="block text-sm font-medium text-gray-700"
                    >Password</label
                  >
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                  />
                </div>

                <!-- Remember Me and Links -->
                <div class="d-flex items-center justify-between">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="rememberMe"
                      id="rememberMe"
                    />
                    <label class="form-check-label" for="rememberMe"
                      >Remember me</label
                    >
                  </div>
                  
                </div>

                <!-- Login Button -->
                <button
                  type="submit"
                  id="loginButton"
                  data-loading-text="Logging in..."
                  class="btn bg-gradient-success w-100 mt-4 mb-0"
                >
                  Login
                </button>
              </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1 d-none">
              <p class="mb-4 text-sm mx-auto">
                Login as administrator?
                <a
                  href="{{ url_for('main.login') }}
                            "
                  class="text-info text-gradient font-weight-bold"
                  >Login</a
                >
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
