{% extends "base.html" %} 
{% block content %}
<div class="relative h-screen w-full min-h-screen flex flex-col bg-cover bg-center">
  <!-- Background Image -->
  <div
    class="absolute inset-0 bg-no-repeat bg-cover bg-center z-0"
    style="background-image: url('{{ url_for('static', filename='images/background.webp') }}');"
  ></div>

  <!-- Header -->
  <header class="bg-gray-600 bg-opacity-40 backdrop-blur-md py-4 z-10 relative">
    <div class="container mx-auto flex items-center justify-between">
      <!-- Logo -->
      <div class="flex items-center space-x-3">
        <img
          src="{{ url_for('static', filename='images/favicon.webp') }}"
          alt="Logo"
          class="mx-4 w-12 h-13 object-cover"
        />
      </div>
    </div>
  </header>

  <!-- Main Content Block -->
  {% block wrapper_content %}
  {% endblock %}
</div>
{% endblock %}
