{% extends "user/templates/user_layout.html" %} {% block user_content %}
<main class="main-content mt-2 mt-md-5">
  <div class="page-header mt-sm-5 min-vh-75">
    <div class="container mt-sm-5">
      <div class="card mt-5 mb-4 p-4">
        <div class="row g-3 align-items-center">
          <!-- Left Side: Image -->
          <div class="col-lg-6 col-md-6 col-12">
            <img loading="lazy" src="{{ borrowings.image_url }}" alt="" class="img-fluid rounded w-100"
              style="max-height: 350px; object-fit: cover; background-position: center; background-size: contain !important;" />
          </div>

          <!-- Right Side: Details -->
          <div class="col-lg-6 col-md-6 col-12">

            <div class="card-body">
              <fieldset
                class="border p-2 mb-2 {% if borrowings.status == 'completed' or borrowings.status == 'cancelled' or borrowings.status == 'pending' %} d-none {% endif %}">
                <legend class="float-none w-auto text-sm">Reference Number</legend>
                <p class="m-0 p-0 text-center">
                  <strong> {{ borrowings.reference_number}}</strong>
                </p>
              </fieldset>

              <fieldset class="border p-3 mb-3">
                <legend class="float-none w-auto text-sm">Borrowed Details</legend>
                <h4 class="card-title mt-0 text-primary  text-md-start">
                  {{ borrowings.inventory_item.title | capitalize }}
                </h4>
                <p class="text-md-start">Status
                  <strong> <span
                      class=" badge {% if borrowings.status == 'completed' %} bg-primary  {% elif borrowings.status == 'pending' %} bg-warning {% elif borrowings.status == 'approved' %} bg-success {% elif borrowings.status == 'cancelled' %} bg-danger {% endif %}">
                      {{ borrowings.status | capitalize }}
                    </span></strong>

                </p>
                <div class="d-flex flex-column flex-md-row gap-2">
                  <p class="text-md-start mb-0">
                    Start Date:
                    <strong>{{ borrowings.start_date_str}}</strong>,
                  </p>
                  <p class="text-md-start mb-0">
                    End Date:
                    <strong>{{ borrowings.end_date_str}}</strong>
                  </p>
                </div>


                <p class=" text-md-start mb-0">Quantity:
                  <strong>{{ borrowings.quantity }}</strong>
                </p>
                {% if  borrowings.status == 'approved' %}
                <p class=" text-md-start">Day Left / Overdue:
                  <strong> {% if borrowings.days_remaining > 0 %}
                    <span class="badge bg-success"> {{ borrowings.days_remaining }}
                      days</span>
                    {% elif borrowings.days_late > 0 %}
                    <span class="badge bg-danger">Overdue: {{ borrowings.days_late }} days</span>
                    {% else %}
                    N/A
                    {% endif %}</strong>

                </p>
                {% endif %}
              </fieldset>

              {% if borrowings.cancel_reason %}
              <fieldset class="border p-2 mb-2">
                <legend class="float-none w-auto text-sm">Cancelled Details</legend>
                <p class="text-center text-danger font-weight-bold ">
                  {{ borrowings.cancel_reason}}
                </p>
              </fieldset>
              {% endif %}

              <div class="d-flex gap-2 text-md-start mt-3">
                {% if borrowings.status == 'pending' %}
                <a class="btn btn-danger w-100 w-md-auto bCancel" data-borrowing-id="{{ borrowings.id}}">
                  Cancel Borrow
                </a>
                {% endif %}
                <a href="{{ url_for('main.user_borrowed') }}" class="btn btn-secondary">GO BACK</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}