{% extends "admin/template/admin_layout.html" %} {% block admin_content %}
<div class="content-wrapper">
  <div class="d-flex align-items-center justify-content-center mb-3">
    <h3 class="text-center">EQUIPMENT DETAILS</h3>
  </div>
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <span class="card-title"></span>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Date and Time</th>
              <th>Action</th>
             </tr>
          </thead>
          <tbody>
            <tr>
              <td>7</td>
              <td>Materials</td>
              <td>02-18-2025</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
