<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <!-- Navbar -->
      <nav
        class="navbar navbar-expand-lg blur bg-white blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
        <div class="container-fluid pe-0">
          <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="{{ url_for('main.user_dashboard') }}">
            <div class="logo-container">
              <div class="logo">
                <img src="{{ url_for('static', filename='images/favicon.webp') }}" alt="" />
              </div>
              <div class="logo-desc">
                <h1></h1>
              </div>
            </div>
          </a>
          <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
            data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center"></div>
            <ul class="navbar-nav justify-content-end px-3 hideToMobile">
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a href="{{ url_for('main.user_borrowed') }}" class="nav-link text-body font-weight-bold p-0">
                  <i class="fa-solid fa-table-list"></i>
                  <span class="d-sm-inline d-none">&nbsp;Transaction </span>
                </a>

              </li>
              <li class="nav-item dropdown pe-2 d-flex align-items-center mx-3">
                <a href="{{ url_for('main.viewCart') }}"
                  class="nav-link text-body font-weight-bold p-0 position-relative">
                  <i class="fas fa-cart-arrow-down"></i>
                  Borrow
                  <span
                    class="cart-badge position-absolute top-1 start-100 mx-2 translate-middle badge rounded-pill bg-primary">
                    0
                  </span>
                </a>
              </li>


            </ul>
            <ul class="navbar-nav justify-content-end px-3 hideToMobile">
              <li class="nav-item dropdown pe-2 d-flex align-items-center">
                <a href="javascript:;" class="nav-link text-body font-weight-bold p-0" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-user me-sm-1"></i>
                  <span class="d-sm-inline d-none">
                    {% if session['username'].title() %} Welcome,
                    <strong>{{ session['username'] }}</strong> {% else %}
                    Welcome, Guest! {% endif %}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                  <li class="mb-0">
                    <button data-bs-toggle="modal" data-bs-target="#profileUserModal" onclick="fetchUserData()" class="btn  mb-2 btn-sm w-100">
                      Profile
                    </button>
                  </li>
                  <li class="mb-0">
                    <button id="logout" class="btn btn-outline-danger mb-0 btn-sm w-100">
                      Logout
                    </button>
                  </li>
                </ul>
              </li>
            </ul>
            <div class="d-flex d-lg-none d-md-none">
              <ul class="navbar-nav">
                <li class="m-3">
                  <a href="{{ url_for('main.user_borrowed') }}" class="nav-link text-body font-weight-bold p-0">
                    <i class="fas fa-cart-arrow-down"></i>
                    <span class="d-sm-inline d-none">&nbsp;Transaction </span>
                  </a>
                </li>

                <li class="nav-item">
                  <button class="btn btn-outline-danger w-100 mb-0 btn-sm btn-round mb-0">
                    Logout
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
    </div>
  </div>
</div>

<script>
  // Function to update cart count dynamically
  function updateCartCount() {
    fetch('/users/cart_count')
      .then(response => response.json())
      .then(data => {
        document.querySelector('.cart-badge').textContent = data.count; // Update cart badge
      })
      .catch(error => console.error('Error fetching cart count:', error));
  }


  // Update cart count on page load
  document.addEventListener('DOMContentLoaded', updateCartCount);

</script>