<!-- category start -->
<div
  class="modal fade"
  id="addCategory"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">
          {{ request.endpoint.split('.')[-1] | upper }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card" style="background: #d8ebe0">
          <div class="card-body p-3">
            <form id="categoryForm" method="post">
              <div>
                <label
                  for="name"
                  class="block text-sm font-medium text-gray-700"
                  >Name</label
                >
                <input type="text" id="name" name="name" class="form-control" />
              </div>
              <button
                type="submit"
                id="categoryButton"
                data-loading-text="Submitting..."
                class="btn bg-gradient-success w-100 mt-4 mb-0"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="updateCategory"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">
          {{ request.endpoint.split('.')[-1] | upper }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card" style="background: #d8ebe0">
          <div class="card-body p-3">
            <form id="updatecategoryForm" method="put">
              <div>
                <label
                  for="name"
                  class="block text-sm font-medium text-gray-700"
                  >Name</label
                >
                <input type="hidden" id="id" name="id" />
                <input type="text" id="name" name="name" class="form-control" />
              </div>
              <button
                type="submit"
                id="categoryButtonUpdate"
                data-loading-text="Submitting..."
                class="btn bg-gradient-success w-100 mt-4 mb-0"
              >
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- category end -->

<!-- inventory start -->
<div
  class="modal fade"
  id="addInventory"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">
          {{ request.endpoint.split('.')[-1] | upper }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card" style="background: #d8ebe0">
          <div class="card-body p-3">
            <form
              id="inventoryForm"
              method="post"
              enctype="multipart/form-data"
            >
              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Title/Article <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      name="title"
                      placeholder="Title/Article"
                    />
                    <div id="titleError" class="error-text"></div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Category <span style="color: red;">*</span> </label>
                  <div class="mb-2">
                    <select
                      class="form-select"
                      id="category_id"
                      name="category_id"
                    >
                      <option value="" selected>Select Categories</option>
                      {% for category in categories %}
                      <option value="{{ category.id }}">
                        {{ category.name }}
                      </option>
                      {% endfor %}
                    </select>
                    <div id="category_idError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Image </label>
                  <div class="mb-2">
                    <input
                      type="file"
                      class="form-control"
                      id="image"
                      name="image"
                      placeholder="Image"
                    />
                    <div id="imageError" class="error-text"></div>
                  </div>
                </div>
              </div>

              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Property No. </label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="property_no"
                      name="property_no"
                      placeholder="Property No."
                    />
                    <div id="sfnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Date Acquired <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="date"
                      class="form-control"
                      id="date_acquired"
                      name="date_acquired"
                      placeholder="Date Acquired"
                    />
                    <div id="slnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Aquisition Cost <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="cost"
                      name="cost"
                      placeholder="Cost"
                    />
                    <div id="smnameError" class="error-text"></div>
                  </div>
                </div>
              </div>

              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Unit</label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="unit"
                      name="unit"
                      placeholder="Unit"
                    />
                    <div id="sfnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Fund Source</label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="fund_source"
                      name="fund_source"
                      placeholder="Fund Source"
                    />
                    <div id="slnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Accountable Officer <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="officer"
                      name="officer"
                      placeholder="Accountable Officer"
                    />
                    <div id="smnameError" class="error-text"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Office/School</label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="school"
                      name="school"
                      placeholder="Office/School"
                    />
                    <div id="titleError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Quantity <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="number"
                      class="form-control"
                      id="qty"
                      name="qty"
                      min="1"
                      max="100"
                      placeholder="Quantity"
                    />
                    <div id="titleError" class="error-text"></div>
                  </div>
                </div>
              </div>
              <button
                type="submit"
                id="inventoryButton"
                data-loading-text="Submitting..."
                class="btn d-flex justify-content-center m-auto bg-gradient-success w-50 mt-4 mb-0"
              >
                Submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="updateInventory"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="profileModalLabel">
          {{ request.endpoint.split('.')[-1] | upper }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card" style="background: #d8ebe0">
          <div class="card-body p-3">
            <form
              id="updateInventoryForm"
              method="put"
              enctype="multipart/form-data"
            >
              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Title/Article <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      name="title"
                      placeholder="Title/Article"
                    />
                    <div id="titleError" class="error-text"></div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Category <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <select
                      class="form-select"
                      id="category_id"
                      name="category_id"
                    >
                      <option value="" selected>Select Categories</option>
                      {% for category in categories %}
                      <option value="{{ category.id }}">
                        {{ category.name }}
                      </option>
                      {% endfor %}
                    </select>
                    <div id="category_idError" class="error-text"></div>
                  </div>
                </div>

                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Image </label>
                  <div class="mb-2">
                    <input
                      type="file"
                      class="form-control"
                      id="image"
                      name="image"
                      placeholder="Image"
                    />
                    <div id="imageError" class="error-text"></div>
                  </div>
                </div>
              </div>

              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Property No. </label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="property_no"
                      name="property_no"
                      placeholder="Property No."
                    />
                    <div id="sfnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Date Acquired <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="date"
                      class="form-control"
                      id="date_acquired"
                      name="date_acquired"
                      placeholder="Date Acquired"
                    />
                    <div id="slnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Aquisition Cost <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="cost"
                      name="cost"
                      placeholder="Cost"
                    />
                    <div id="smnameError" class="error-text"></div>
                  </div>
                </div>
              </div>

              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Unit</label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="unit"
                      name="unit"
                      placeholder="Unit"
                    />
                    <div id="sfnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Fund Source</label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="fund_source"
                      name="fund_source"
                      placeholder="Fund Source"
                    />
                    <div id="slnameError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Accountable Officer <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="officer"
                      name="officer"
                      placeholder="Accountable Officer"
                    />
                    <div id="smnameError" class="error-text"></div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-5 col-md-6 row">
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Office/School</label>
                  <div class="mb-2">
                    <input
                      type="text"
                      class="form-control"
                      id="school"
                      name="school"
                      placeholder="Office/School"
                    />
                    <div id="titleError" class="error-text"></div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-6">
                  <label>Quantity <span style="color: red;">*</span></label>
                  <div class="mb-2">
                    <input
                      type="number"
                      class="form-control"
                      id="qty"
                      name="qty"
                      min="1"
                      max="100"
                      placeholder="Quantity"
                    />
                    <div id="titleError" class="error-text"></div>
                  </div>
                </div>
              </div>
              <input type="hidden" id="id" name="id" />
              <button
                type="submit"
                id="inventoryButtonUpdate"
                data-loading-text="Submitting..."
                class="btn d-flex justify-content-center m-auto bg-gradient-success w-50 mt-4 mb-0"
              >
                Update
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- category end -->
