{% extends "base.html" %} {% block content %}

<body class="g-sidenav-show  bg-gray-100">
  {% include 'admin/template/partials/_sidebar.html' %}

  <!-- partial -->
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    {% include 'admin/template/partials/_navbar.html' %}
    {% include 'admin/template/_modal.html' %}
    <div class=" container-fluid py-4 background-1">
      {% block admin_content %} {% endblock %}
    </div>
   
  </main>
 
</div>
{% endblock %}
